// Override the Bootstrap defaults without modifying key, versioned files.

$font-family-sans-serif: "Nunito", sans-serif;

$color-main: #1E1F4A;
$color-main-dark: #2c2d6a;
$color-main-light: #434484;

$color-sub1: #F6DDDC;
$color-sub2: #CEC6C1;
$color-sub3: #A5A3BE;
$color-pass: #7ed321;

$color-black: #162622;

$color-purple: #858cb2;

$color-gray1: #9b9b9b;

$color-white: #FFFFFF;