body{
    height: 100vh;
    background-color: #000;
}

#app{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        width: 500px;
        height: 70vh;
    }

    >.el-page-header{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 56px;
        background-color: #DEDEDE;
        padding: 0 12px;
        display: flex;
        align-items: center;
        .el-page-header__left{
            .el-icon-back:before{
                font-size:2em;
            }
            .el-page-header__title{
                font-size:0;
            }
        }

        &.noBackBtn{
            .el-page-header__left{
                .el-icon-back:before
                {
                    font-size:0em;
                }
            }
        }
    }
    >section{
        padding-top: 56px;
        width: 100%;
        height: 100vh;
        >.el-footer{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding:0;
            height: 60px;
            .el-row{
                padding: 0;
                .el-button{
                    height: 60px;
                    width: 100%;
                }
            }
        }
    }    
}

