#login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/frontend/game/background.jpg');
    background-size: 130% auto;
    background-repeat: no-repeat;
    background-position: center center;
    .content{
        width: 80%;
        max-width: 400px;
        padding: 1em;
        transform: translateY(-50px);
        .el-button{
            width: 100%;
        }
    }
}