#room{
    .seat-area{
        padding: 2em;
        .el-col{
            display: inline-flex;
            float: none;
        }
        .el-tag{
            width: 4em;
            height: 4em;
            padding: 0 5px;
            white-space: normal;
            text-align: center;
            line-height: 4em;
        }
    }
    .role-description{
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        border-bottom: 1px solid #dedede;
    }
    .el-footer{
        > *{
            height: 60px;
        }
    }
}